@import "tailwindcss";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

body {
  background-color: white;
  color: black;
  transition: background-color 0.3s, color 0.3s;
}


body.dark-mode {
  background-color: #1a202c; 
  color: white;
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.layout {
  max-width: 80%;
  margin: auto;
  padding: 15px;
}



